body {
	font-size: 13px;
	line-height: 24px;
	color: #000000;
	font-weight: bold;
	font-family: PT Sans;
}

h2 {
	font-size: 18px;
	line-height: 20px;
	color: #000000;
	font-weight: normal;
	font-family: PT Sans;
}

h1 {
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
	font-style: italic;
	font-family: Cuprum;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.header-top {
    outline: 2px solid green; 
    font-size: 0;
}

.header-bottom {
    outline: 2px solid green;  
    padding-bottom: 60px;
    margin-bottom: 60px;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
    outline: 2px solid blue; 
}

.header-content {
    outline: 2px solid pink; 
    min-height: 160px;   /* Только для оформления сетки */
}

.header-logo,
.search,
.bookmark,
.basket,
.cart{
    display: inline-block;
    font-size: 12px;
}

.name-description,
.header-contacts {
    width: 300px;
    float: left;
    margin-right: 20px;
}

.user-block {
    float: right;
    margin-right: 0;
    font-size: 0;
}

.user-block a {
    font-size: 14px;
}

.main-navigation {
    outline: 2px solid pink; 
    font-size: 0;
    min-height: 60px;   /* Только для оформления сетки */ 
}

.main-navigation ul {
    text-align: center;
}

.main-navigation li {
    display: inline-block;
    font-size: 12px;
}

.content {
    outline: 2px solid green;
}

.promo {
    outline: 2px solid grey;
    margin-bottom: 46px;
}

.promo-layout {
    width: 300px;
    min-height: 123px;
    outline: 2px solid red;
    margin-bottom: 20px;
}

.promo-layout-1,
.promo-layout-2,
.slider {
    float: left;
}

.promo-layout-2 {
    margin-left: 20px;
}

.promo-layout-3,
.promo-layout-4,
.promo-layout-5 {
    float: right;
}

.promo-layout-5,
.slider {
    margin-bottom: 0;
}

.headline {
    min-height: 89px;
    outline: 2px solid red;
    margin-bottom: 20px;
}

.products {
    font-size: 0;
    margin-bottom: 21px;
    outline: 2px solid yellow;
}

.products-card {
    outline: 2px solid red;
    display: inline-block;
    width: 220px;
    min-height: 318px;
    margin-right: 20px;
    font-size: 17px;
    vertical-align: top;
    
}

.products .products-card:last-child {
    margin-right: 0;
}

.manufacturer-block {
    outline: 2px solid red;
    margin-bottom: 85px;
    font-size: 0;
}

.manufacturer-item {
    display: inline-block;
    width: 220px;
    min-height: 145px;
    vertical-align: top;
    outline: 2px solid green;
    margin-right: 20px;
}

.manufacturer-4,
.manufacturer-8 {
    margin-right: 0;
}

.manufacturer-1,
.manufacturer-2,
.manufacturer-3,
.manufacturer-4 {
    margin-bottom: 20px;
}

.services {
    outline: 2px solid green;
    margin-bottom: 80px;
    padding-bottom: 54px;
    padding-top: 65px;
}

.services-nav,
.services-1,
.services-2 {
   outline: 2px solid green; 
}

.services-nav {
    width: 240px;
    min-height: 279px;
    padding-right: 60px;
    margin-right: 20px;
    float: left;
}

.services-2 {
    float: left
}

.about {
    outline: 2px solid green;
    margin-bottom: 85px;
}

.about-company {
    width: 620px;
    margin-right: 20px;
    float: left;
    outline: 2px solid red;
}

.map {
    width: 300px;
    float: right;
    outline: 2px solid red;
}

.footer-top {
    outline: 2px solid green;
}

.footer-nav {
    float: right;
    width: 550px;
    outline: 2px solid red;
}

.footer-nav-top,
.footer-nav-bottom {
    text-align: right;
}

.footer-nav li{
    outline: 2px solid orange;
    display: inline-block;
    margin-left: 50px;
}

.footer-bottom {
    outline: 2px solid green;
    font-size: 0;  
}

.footer-bottom section {
    font-size: 12px;
}

.footer-bottom section {
    outline: 2px solid orange;
    display: inline-block
}

.footer-bottom .footer-social {
    font-size: 0;
}

.social-btn {
    font-size: 14px;
}

            /* Catalog */ 

.breadcrumbs {
    outline: 2px solid orange;
    font-size: 0;
}

.breadcrumbs li {
    display: inline-block;
    font-size: 12px;
}

.catalog-title {
    outline: 2px solid pink;
}

.filter {
    outline: 2px solid brown;
    width: 220px;
    float: left;
    margin-right: 20px;
}

.scroll-price {
    min-height: 190px;
    outline: 2px solid orange;
}

.catalog-main {
    outline: 2px solid green;
    width: 700px;
    float: right;
    margin-bottom: 50px;
}
.catalog-main-sort {
    outline: 2px solid orange;
}

.catalog-main-sort p,
.catalog-main-sort li {
    display: inline-block;
}

.products-conteiner {
    font-size: 0;
    margin-bottom: 21px;
    outline: 2px solid yellow;
}

.products-conteiner .products-card:nth-child(3n) {
    margin-right: 0;
}

.paginator {
    outline: 2px solid brown;
}

.paginator li {
    display: inline-block;
}





