body {
    min-width: 940px;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
	font-weight: normal;
	font-family: "Cuprum", "Arial", sans-serif;
}
/*
h2 {
	font-size: 18px;
	line-height: 20px;
	color: #000000;
	font-weight: normal;
	font-family: PT Sans;
}

h1 {
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
	font-style: italic;
	font-family: Cuprum;
}

*/







@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "🔍"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */



.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
    outline: 2px solid blue; 
}

.header-top { 
    font-size: 0;
    color: #ffffff;
    background-color: #293449;
}

.header-top a {
    color: #ffffff;
    text-decoration: none;
}

.header-top-left {
    float: right;
}

.bookmark,
.basket,
.cart {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
}

.cart a {
    display: block;
    padding: 12px 20px;
    background: #63a63e;
}

.bookmark a,
.basket a {
    display: block;
    padding-right: 30px;
    padding-left: 45px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.bookmark::before,
.basket::before {
    position: absolute;
    font-family: "symbols-technomart";
    font-size: 17px;
    top: 12px;
    left: 18px;
}

.bookmark::before {
    content: "🔖";
}

.basket::before {
    content: "\62";
}

.search {
    font-size: 12px;       /* исправить */
}


.header-logo,
.search {
    display: inline-block;
    vertical-align: top;
}

.header-logo a {
    display: block;
    font-size: 24px;
    line-height: 24px;
    width: 110px;
    padding: 9px 55px;
    background: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
    text-transform: uppercase;
}

   /* Header-bottom */


.header-bottom {
    padding-bottom: 60px;
    margin-bottom: 60px;
    background-color: #f1f5f7;
}

.header-content {
    padding-top: 45px;
    padding-bottom: 45px;
}

.name-description,
.header-contacts {
    float: left;
    margin-right: 20px;
}

.name-description {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    font-weight: bold;
    color: #ee3643;
    text-align: left;
    width: 200px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 0;
}

.header-contacts-number a {
    font-family: "Cuprum", "Arial", sans-serif;
    display: block;
    text-decoration: none;
    font-size: 21px;
    line-height: 18px;
    font-weight: bold;
    color: #ee3643;
    text-align: left;
    width: 270px;
    box-sizing: border-box;
    padding-left: 70px;
    padding-top: 9px;
    padding-bottom: 9px;
    border: 3px solid white;
    margin-bottom: 5px;
}

.header-contacts-number {
    position: relative;
}

.header-contacts-number::before {
    position: absolute;
    content: "📞";
    font-family: "symbols-technomart";
    font-size: 22px;
    color: #b8c8d4;
    top: 9px;
    left: 16px;
}

.header-contacts p {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: #32425c;
    text-align: center;
    max-width:  width: 270px;
    margin: 0;
}

.user-block {
    float: right;
    margin-right: 0;
    font-size: 0;
}

.user-block a {
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
    text-align: center;
    font-size: 21px;
    line-height: 18px;
    font-weight: bold;
    color: #000000;
    box-sizing: border-box;
    padding: 12px 25px;
    background:  white;
    margin-left: 10px;
}

a.login {
    padding-left: 50px;
    position: relative;
}

.login::before {
    position: absolute;
    content: "\2386";
    font-family: "symbols-technomart";
    font-size: 22px;
    color: #c5c5c5;
    top: 11px;
    left: 16px;
}


          /*  Nav  */

.main-navigation {
    background: #32425c;
    border-bottom: 5px solid #293449;
}

.main-navigation ul {
    text-align: center;
    font-size: 0;
    margin: 0;
    padding: 0;
}

.main-navigation li {
    display: inline-block;
    vertical-align: top;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
    list-style: none;
}

.main-navigation a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 20px 30px;
}

.content {
    outline: 2px solid green;
}


     /*  Main  */
     /*   Promo        */

.promo {
    outline: 2px solid grey;
    margin: 0;
    margin-bottom: 53px;
    padding: 0;
}

.promo-layout-1,
.promo-layout-2,
.slider {
    float: left;
}

.promo-layout-3,
.promo-layout-4,
.promo-layout-5 {
    float: right;
    margin-left: 20px;
}

.promo-layout {
    width: 260px;
    padding: 20px;
    min-height: 83px;
    outline: 2px solid red;
    margin-bottom: 20px;
}

.promo-feature-title {
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 14px;
}

.promo-feature-btn a {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px;
    width: 115px;
    border-radius: 5px;
}

.promo-layout-1 {
    background: #f6b22d url("/img/pail.png") no-repeat 85% 50%;
}

.promo-layout-1 a {
    background: #dda028;
}

.promo-layout-2 {
    background: #4aafde url("/img/screwdriver.png") no-repeat 85% 50%;
    margin-left: 20px;
}

.promo-layout-2 a {
    background: #429dc7;
}

.promo-layout-3 {
    background: #cc79d1 url("/img/tractor.png") no-repeat 85% 50%;
}

.promo-layout-3 a {
    background: #b76dbc;
}

.promo-layout-4 {
    background: #85d179 url("/img/truck.png") no-repeat 85% 50%;
}

.promo-layout-4 a {
    background: #77bc6d;
}

.promo-layout-5 {
    background: #f6b22d url("/img/basket.png") no-repeat 85% 50%;
    margin-bottom: 0;
}

.promo-layout-5 a {
    background: #dda028;
}

.slider {
    margin: 0;
    width: 620px;
    height: 266px; 
}

.slider img {
    display: block;
    width: 620px;
    height: 266px;
    outline: 2px solid green;
}







    /*  headline  */

.headline {
    min-height: 40px;
    outline: 2px solid red;
    margin-bottom: 20px;
    padding: 25px 30px;
    background: #f7f3ec;
}

.headline .button {
    float: right;
}

.button {
    display: inline-block;
    padding: 10px;
    width: 253px;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    vertical-align: top;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 5px;
    background: #ee3643;
}

.headline-title {
    float: left;
    padding: 5px 0;
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
}





    /*  Main  */

.products {
    font-size: 0;
    margin-bottom: 21px;
    outline: 2px solid yellow;
}

.products-card {
    outline: 2px solid red;
    display: inline-block;
    width: 220px;
    min-height: 318px;
    margin-right: 20px;
    font-size: 17px;
    vertical-align: top;
    
}

.products .products-card:last-child {
    margin-right: 0;
}


/*  manufacturer-block  */

.manufacturer-block {
    outline: 2px solid red;
    margin-bottom: 85px;
    font-size: 0;
}

.manufacturer-item {
    display: inline-block;
    width: 218px;
    height: 145px;
    vertical-align: top;
    border: 1px solid #e5e5e5;
    margin-right: 20px;
    overflow: hidden;
}

.manufacturer-item a {
    display:table-cell;
    width:220px;
    height:145px;
    vertical-align:middle;
    text-align:center;
}

.manufacturer-4,
.manufacturer-8 {
    margin-right: 0;
}

.manufacturer-1,
.manufacturer-2,
.manufacturer-3,
.manufacturer-4 {
    margin-bottom: 20px;
}








.services {
    outline: 2px solid green;
    margin-bottom: 80px;
    padding-bottom: 54px;
    padding-top: 65px;
}

.services-nav,
.services-1,
.services-2 {
   outline: 2px solid green; 
}

.services-nav {
    width: 240px;
    min-height: 279px;
    padding-right: 60px;
    margin-right: 20px;
    float: left;
}

.services-2 {
    float: left
}


   /*  about */

.about-company {
    outline: 2px solid green;
    margin-bottom: 85px;
}

.company-description {
    width: 620px;
    margin-right: 20px;
    float: left;
    outline: 2px solid red;
}

.company-contacts {
    width: 300px;
    float: right;
    outline: 2px solid red;
}

.about-company h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.about-company p {
    font-size: 13px;
	line-height: 24px;
	color: #000000;
	font-family: "PT Sans", "Arial", sans-serif;
    padding: 0;
    padding-top: 15px;
    padding-right: 30px;
    margin: 0;
    margin-bottom: 15px;
}

.list-red-line {
    margin: 0;
    padding: 0;
}

.list-red-line li {
    font-size: 18px;
	line-height: 20px;
    list-style: none;
    margin: 0;
    margin-bottom: 15px;
    padding-left: 35px;
    position: relative;
}

.list-red-line li::before {
    content: "";
    position: absolute;
    display: block;
    width: 25px;
    height: 0;
    border-bottom: 2px solid #ee3643;
    left: 0;
    top: 9px;
}

.company-description .button {
    width: 220px;
    margin-top: 38px;
}

.company-contacts .button {
    width: 100%;
    margin-top: 40px;
}

.company-contacts img {
    width: 300px;
    height: 158px;
    margin-top: 15px;
}




/* Footer */

.footer-top {
    background: #32425c ;
}

.footer-logo a {
    display: block;
    font-size: 24px;
    line-height: 24px;
    width: 110px;
    padding: 20px 55px;
    background: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 35px;
}

.footer-top p {
    font-size: 18px;
    line-height: 24px;
    width: 340px;
    margin-bottom: 50px;
    color: #ffffff;
}

.footer-nav {
    float: right;
    width: 560px;
    margin-top: 28px;
}

.footer-nav-top,
.footer-nav-bottom {
    text-align: right;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
}

.footer-nav li{
    display: inline-block;
    vertical-align: top;
}

.footer-nav li {
    margin-left: 55px;
}

.footer-nav li:first-child {
    margin-left: 0;
}

.footer-nav a{
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}

.footer-nav-top a {
    color: #f1f5f7;
}

.footer-nav-bottom a {
    color: #ffd180;
}




   /* footer-bottom */

.footer-bottom {
    font-size: 0; 
    text-align: right;
    background: #253746;
    padding-top: 35px;
    padding-bottom: 30px;
}

.footer-bottom section {
    text-align: left;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.footer-bottom a {
    font-size: 16px;
    line-height: 18px;
    color: #ffd180;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.footer-bottom p {
    margin: 0;
    padding: 0; 
}

.footer-rights {
    float: left;
    padding-top: 3px;
}

.footer-social,
.footer-feedback,
.footer-copyright {
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
    padding-left: 30px;
}

/*
.footer-bottom .footer-social {
    font-size: 0;
}
*/

a.social-btn {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 0;
    background: #212a3a;
    border-radius: 50%;
    color: #e6e2e7;
}

.social-btn span {
    font-size: 21px;
    line-height: 40px;
}

.footer-social {
    margin-right: 90px;
}

.footer-feedback {
    margin-right: 5px;
}


            /* Catalog */ 

.breadcrumbs {
    outline: 2px solid orange;
    font-size: 0;
}

.breadcrumbs li {
    display: inline-block;
    font-size: 12px;
}

.catalog-title {
    outline: 2px solid pink;
}

.filter {
    outline: 2px solid brown;
    width: 220px;
    float: left;
    margin-right: 20px;
}

.scroll-price {
    min-height: 190px;
    outline: 2px solid orange;
}

.catalog-main {
    outline: 2px solid green;
    width: 700px;
    float: right;
    margin-bottom: 50px;
}
.catalog-main-sort {
    outline: 2px solid orange;
}

.catalog-main-sort p,
.catalog-main-sort li {
    display: inline-block;
}

.products-conteiner {
    font-size: 0;
    margin-bottom: 21px;
    outline: 2px solid yellow;
}

.products-conteiner .products-card:nth-child(3n) {
    margin-right: 0;
}

.paginator {
    outline: 2px solid brown;
}

.paginator li {
    display: inline-block;
}





